/* Search Input Field */
#search-input {
    border-radius: 20px;
    border: 1px solid #ccc; 
    padding: 10px 40px 10px 35px;
    width: 100%;
  }
  
.wd-search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
  
.wd-search-container i.fa-search {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    pointer-events: none;
}
  
.i.fa-cog {
    position: absolute;
    top: 50%;
    right: 10px;
}

.fg-color-black {color: black;}
.fg-color-white {color: white; }
.fg-color-blue {color: #7070ff; }
.fg-color-red {color: #ff7070; }
.fg-color-green {color: green; }
.fg-color-dark-gray{color: darkgrey;}

.bg-color-yellow {background-color: #ffff07; }
.bg-color-blue {background-color: #7070ff; }
.bg-color-red {background-color: #ff7070; }
.bg-color-green {background-color: green; }
.bg-color-gray {background-color: lightgray;}

.border-fat {border-width: 20px 30px 20px 30px; }
.border-thin {border-width: 4px; }
.border-solid {border-style: solid; }
.border-dashed {border-style: dashed; }
.border-yellow {border-color: #ffff07; }
.border-red {border-color: #ff7070; }
.border-blue {border-color: #7070ff; }

/* Tabs */
.wd-tabs {
    list-style-type:none;
    margin: 20px;
    padding: 10px;
}
.wd-tabs li {
    display: inline-block;
    margin:5px;
}

.wd-tabs li a {
    position: relative;
    padding-bottom: 4px;
    color: grey;
    text-decoration: none;
}

.wd-tabs li.wd-selected a {
    color: black;
}

.wd-tabs li.wd-selected a::before {
    content: "  ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: blue;
}

.wd-tabs li.wd-selected a span {
    border-bottom: 2px solid blue;
    padding-bottom: 2px;
}
  
/* Image and Text */
.image-container {
    position: relative;
    display: inline-block;
}

.image-container img{
    width: 100%;
    height: auto;
}

.image-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 20px;
    pointer-events: none;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

/* Tuits List*/
.wd-tuits-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
  
.wd-tuits-list li {
    margin-bottom: 30px;
}

.wd-tuit-content {
    color: gray;
    font-weight: 300;
    font-size: 12px;
}

.wd-trending-label {
    color: gray;
    font-weight: 300;
}

.wd-bold-text {
    color: black;
    font-weight: bold;
    font-size: 13px;
}

.wd-grid-col-half-page {
    width: 50%;
    float: left;
}


.wd-align-right {
    text-align: right;
}

.wd-wide-button {
    width: 100%;
}

.wd-custom-space {
    margin-left: 10px;
}
.wd-custom-center {
    text-align: center;
    align-self: center;
    display:flex;
}

.click-active{
    color: white;
}
  